* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#top {
    text-align: center;
    height: 100vh;
    background-image: url(./images/coffee_laptop.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }

  